# ignore various standard-ish
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.*
yarn-error.log
nginx.conf
Makefile
.git/

# ignore project specific
node_modules/
dist/
assets/
TODO.txt
src/acknowledgements.json

# env files
.env*
!.env
!.env.production

# p-queue
!node_modules/p-queue
node_modules/p-queue/node_modules/
node_modules/p-queue/.git/

# byte-data
!node_modules/byte-data
node_modules/byte-data/docs/
node_modules/byte-data/test/
node_modules/byte-data/node_modules/
node_modules/byte-data/.git/