# ignore various standard-ish
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.*
yarn-error.log
nginx.conf
Makefile
.git/

# ignore project specific
node_modules/
build/
assets/
TODO.txt
src/acknowledgements.json

# env files
.env*
!.env.production.local

# p-queue
!node_modules/p-queue
node_modules/p-queue/node_modules/
node_modules/p-queue/.git/