.Auction {
    background-color: var(--bs-light);
    border-radius: 1rem;
}

.auction-img {
    width: 18rem;
    border-top: 1px solid var(--bs-primary);
    border-bottom: 1px solid var(--bs-primary);
}