.Explore {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Explore-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(42, 51, 82, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-text {
  font-size: calc(20px + 8vmin);
}

#explore-instructions {
  font-size: calc(10px + 2vmin);
}
