.Explore {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.Explore-overlay {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(
180deg, rgba(42, 51, 82, 0.5), rgba(29, 35, 56, 0.623))!important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-text {
  font-size: calc(20px + 8vmin);
}

#explore-instructions {
  font-size: calc(10px + 2vmin);
}

.glyphicon {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

.glyphicon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
  
.glyphicon-stack-1x {
  font-size: 2em;
}
  
.glyphicon-stack-1x, .glyphicon-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Chat */

.chatPanel {
  bottom: 5rem;
  left: 1rem;
  height: 35vh;
  width: 25vw;
}

.chatPanelInactive {
  bottom: 1rem;
}

.chatCard {
  height: 100%;
}

.chatCardInactive {
  background-color: rgba(255, 255, 255, 0.3);
}

.messageContainer {
  overflow-y: auto;
}

.messageContainer::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.05);
}

.messageContainer::-webkit-scrollbar
{
  border-radius: 4px;
	width: 8px;
	background-color: rgba(0, 0, 0, 0.05);
}

.messageContainer::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.2);
}

.chatInput {
  background-color: rgba(0,0,0,0.1);
}