.inventory-item {
    width: 200px;
    cursor: pointer;
}

.inventory-item:hover {
    filter: drop-shadow(0 0 0.2rem blue);
}

.inventory-item:active {
    filter: drop-shadow(0 0 0.2rem black);
}

.description-popover {
    white-space: pre-wrap;
}