.inventory-item {
    width: 200px;
    cursor: pointer;
}

.inventory-item:hover {
    filter: drop-shadow(0 0 0.2rem blue);
}

.inventory-item:active {
    filter: drop-shadow(0 0 0.2rem black);
}

.description-popover {
    white-space: pre-wrap;
}

.bg-danger-light {
    background-color: #f5c7cc;
}

.bg-warning-light {
    background-color: #fae9b7;
}

.bg-success-light {
    background-color: #91ccb0;
}