.nav-link {
    color: var(--bs-dark);
}
.nav-link:hover {
    color: var(--bs-primary);
}
.nav-link:focus {
    color: var(--bs-primary);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--bs-primary);
}